<nav class="nav-bar">
  <img id="logo" src="/images/logo.jpg" alt="handshake logo">
  <ul class="nav-bar-ul">
    <li><a href="/companyLanding">Home</a></li>
    <li><a href="/company/profile">My profile</a></li>
    <li><a href="/auth/logout">Log Out</a></li>
  </ul>
</nav>
<h1>Company Landing</h1>
<h3>HANDSHAKE</h3>



{{!-- {{#if company}} --}}

  
<h1>Welcome {{company.body.username}}! Ready for a new hire?</h1>


{{!-- {{/if}} --}}
<h2>
  Hi {{company.username}}
</h2>


<button>
  <a href="/company/project">Create a Project</a>
</button>



{{#each companyProjects}}
<p>Project name: {{name}}</p>
<p>Project summary: {{summary}}</p>
{{!-- <p>Post date: {{when}}</p> --}}
<form action="/company/deletePost/{{_id}}" method="POST">
  <button type="submit" id="delete">Delete Project
  </button>
</form>
{{/each}}
{{!-- added Tuesday - Gosia--}}
<button type="submit">
  <a href="/company/specProject/{{_id}}">See who applied</a>
</button>
{{/each}}
