<h1>Company Landing</h1>

<h2>
  Hi {{company.username}}
</h2>

<p>My email: {{company.email}}</p>
<p>My location: {{company.location}}</p>
<p>My address: {{company.address}}</p>
<p>My contact: {{company.contact}}</p>
<p>My Business Sector: {{company.businessSector}}</p>
<p>My description {{company.description}}</p>

<button>
  <a href="/company/project">Create a Project</a>
</button>

<button>
  <a href="/company/profile">Update profile</a>
</button>