{{!-- added Tuesday - Gosia --}}
<h1>Speciffic project to see who applied</h1>

<p>Project name: {{project.name}}</p>
<p>Required skills: {{project.skillsRequired}}</p>
<p>Contract Type: {{project.contractType}}</p>
<p>Salary {{project.salary}}</p>
<p>Project summary: {{project.summary}}</p>
<p>Project description: {{project.description}}</p>
<br>
<p>Applicants:</p>

{{#each project.applications}}
{{!-- {{this.username}} --}}
<h4>{{username}}</h4>
{{!-- <p>Skills: {{applications.0.skills}}</p> --}}
<p>Location: {{location}}</p>
<p>Description: {{description}}</p>npr
<p>Contact: {{contact}}</p>
{{#each skills}}
<p>Skills {{this}}</p>
{{/each}}
{{/each}}