<h1>Company Landing</h1>

<h2>
  Hi {{company.username}}
</h2>

<p>My email: {{company.email}}</p>
<p>My location: {{company.location}}</p>
<p>My address: {{company.address}}</p>
<p>My contact: {{company.contact}}</p>
<p>My Business Sector: {{company.businessSector}}</p>
<p>My description {{company.description}}</p>

<button>
  <a href="/company/project">Create a Project</a>
</button>

<button>
  <a href="/company/profile">Update profile</a>
</button>

{{#each companyProjects}}
<p>Project name: {{name}}</p>
<p>Project summary: {{summary}}</p>
<form action="/company/deletePost/{{_id}}" method="POST">
  <button type="submit" id="delete">Delete Project
  </button>
</form>
{{!-- added Tuesday - Gosia--}}
<button type="submit">
  <a href="/company/specProject/{{_id}}">See who applied</a>
</button>
{{/each}}