<nav class="nav-bar">
  <img id="logo" src="/images/logo.jpg" alt="handshake logo">
  <ul class="nav-bar-ul">
    <li><a href="/companyLanding">Home</a></li>
    <li><a href="/company/profile">My profile</a></li>
    <li><a href="/auth/logout">Log Out</a></li>
  </ul>
</nav>
<br>
<h1 id='h1Signup'>Hi, {{company.username}}<br>

  <h2 class='page-layout'>Update Your Profile</h2>
  <br>
  <br>
  <div class='signup'>
    <form action="/company/profile/update/{{company._id}}" method="POST">
      <span class='basicform'>
        <label class='title' for="Username">Username</label>
        <input type="text" id="username" name="username" value="{{company.username}}">
      </span>
      <span class='basicform'>
        <label class='title' for="Location">Location</label>
        <input type="location" id="location" name="location" value="{{company.location}}">
      </span>
      <span class='basicform'>
        <label class='title' for="Address">Address</label>
        <input type="address" id="address" name="address" value="{{company.address}}">
      </span>
      <span class='basicform'>
        <label class='title' for="Contact">Contact</label>
        <input type="contact" id="contact" name="contact" value="{{company.contact}}">
      </span>
      <span class='basicform'>
        <label class='title' for="BusinessSector">Business Sector</label>
        <input type="businessSector" id="businessSector" name="businessSector" value="{{company.businessSector}}">
      </span>
      <span class='basicform'>
        <label class='title' for="Description">Description</label>
        <textarea row="10" cols="30" id="description" name="description" value="{{company.description}}"></textarea>
      </span>
      <div class='submitbutton'>
        <button class="create-project" type="submit">Submit</button>
      </div>

    </form>
  </div>