<nav class="nav-bar">
  <ul class="nav-bar-ul">
    <li><a href="/freelancerLanding">Home</a></li>
    <li><a href="/freelancer/profile">Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
</nav>


<h1>Landing</h1>

<h2>
  Hi {{freelancer.username}}
</h2>
<p>My location: {{freelancer.location}}</p>
<p>My contact information:{{freelancer.contact}}</p>
<p>My skills: {{freelancer.skills}}</p>
<p>My description: {{freelancer.description}}</p>

<button>
  <a href="/freelancer/profile/update">Update profile</a>
</button>