<nav class="nav-bar">
  <img id="logo" src="/images/logo.jpg" alt="handshake logo">
  <ul class="nav-bar-ul">
    <li><a href="/freelancerLanding">Home</a></li>
    <li><a href="/freelancer/profile">Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
</nav>
<br>

<div class="page-layout">
  <h1> Hi, {{freelancer.username}} </h1>
  <br>
  <br>
  {{!-- <div class="project-box"> --}}
  <p> <strong class="title"> My location: </strong> {{freelancer.location}}</p>
  <br>
  <p> <strong class="title">My contact information:</strong> {{freelancer.contact}}</p>
  <br>
  <p> <strong class="title"> My skills: </strong> {{freelancer.skills}}</p>
  <br>
  <p> <strong class="title"> My description: </strong> {{freelancer.description}}</p>
  <br>
  <div class="buttons-inside-project"></div>
  <button class="create-project">
    <a class="create-project" href="/freelancer/profile/update">Update profile</a>
  </button>
</div>
{{!-- </div> --}}
</div>