<h1>Landing</h1>

<h2>
  Hi {{freelancer.username}}
</h2>
<p>My location: {{freelancer.location}}</p>
<p>My contact information:{{freelancer.contact}}</p>
<p>My skills: {{freelancer.skills}}</p>
<p>My description: {{freelancer.description}}</p>


<h2>Check out Projects below</h2>

<button>
  <a href="/freelancer/profile">Update profile</a>
</button>

{{#each foundProjects}}
<div>
  <p>{{name}}</p>
  <p>{{skillsRequired}}</p>
  <p>{{contractType}}</p>
  <p>{{salary}}</p>
  <p>{{description}}</p>
</div>
<p>{{name}}</p>
{{/each}}