<h1>Landing</h1>


<h2>My applications:</h2>
{{#each myApliedProjects}}
<p>{{name}}</p>
{{/each}}



<h2>Check out Projects below</h2>

<button>  
  <a href="/freelancer/profile">Update profile</a>
</button>

{{#each foundProjects}}
<div>
  <p>{{name}}</p>
  <p>{{skillsRequired}}</p>
  <p>{{contractType}}</p>
  <p>{{salary}}</p>
  <p>{{description}}</p>
</div>
<button type="submit">
  <a href="/freelancer/apply/{{_id}}">See more and apply</a>
</button>

{{/each}}
